# Ignore the HF_token.py file
HF_token.py

# Other common ignores
__pycache__/
*.pyc
*.pyo
*.pyd
*.swp
*.swo
*.bak
*.tmp
*.log
*.out
*.err
.DS_Store
.env
.wav
.mp3
.mp4
.venv
env/
venv/
.idea/
.vscode/
*.egg-info/
dist/
build/
audio/Botswana_2007_Audio.mp3
audio/Botswana_2007_Audio.wav
audio/Botswana_2024_Audio.mp3
audio/*.*
data/*.wav
data/Testing/*.*
model/*.*